# Default owners for everything
* @YoungDan @SaikrishnaGundeti @RogerLindquist

# Python server code
src/ @YoungDan @SaikrishnaGundeti @RogerLindquist

# Workflows
.github/workflows/ @YoungDan @SaikrishnaGundeti @RogerLindquist
